* {
    padding: 0;
    margin: 0;
    font-family: sans-serif
}

.main-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f1f3fb;
    border-bottom: 2px solid #E9EBEC;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 10vh;
    border-bottom: 2px solid #E9EBEC;
    background-color: white;
}

.header a {
    text-decoration: none;
}

.left {
    width: 12vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left h1::first-letter {
    color: #7D7CEC;
}

.left h1::first-line {
    color: orange;
}
.left h4 span.first-word {
    color: #7D7CEC;
}

.left h4 span.second-word {
    color: orange
}

.right {
    width: 30vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
}

.right a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.right a:visited {
    color: black;
}


.contact {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin-top: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #E9EBEC;
    border-radius: 10px;
    width: 350px;
    height: 450px;
    padding: 30px;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2 {
    color: #5d5d5d;
    text-align: center;
    margin: 20px;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; 
}

.form-button {
    display: flex;
    align-items: center;
    margin-top: 50px;
    cursor: pointer;
    width: 55%;
}

.form-button a {
    display: flex;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin: 0 25px;
    align-items: center;
    justify-content: center;
    background-color: #7D7CEC;
    color: white;
    text-decoration: none;
}


.error-message {
  display: none; 
  color: red;
  font-size: 0.8em;
}

input:invalid {
  border-color: red;
}

input:invalid + .error-message {
  display: block;
}

#message {
    height: 150px;
}