* {
    padding: 0;
    margin: 0;
    font-family: sans-serif
}

.main-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1f3fb;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 10vh;
    background-color: white;
}

.header a {
    text-decoration: none;
}

.left {
    width: 12vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left h1::first-letter {
    color: #7D7CEC;
}

.left h1::first-line {
    color: orange;
}
.left h4 span.first-word {
    color: #7D7CEC;
}

.left h4 span.second-word {
    color: orange
}

.right {
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px;
}

.right a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.right a:visited {
    color: black;
}

.search-area {
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.search-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px
}

.search-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: #5e17eb;
    cursor: pointer;
    text-decoration: none;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 50%;
    margin-top: 10%;
}

.search-area {
    background-image: linear-gradient(
  95deg,
  hsl(240deg 60% 1%) 0%,
  hsl(240deg 60% 25%) 55%,
  hsl(241deg 60% 48%) 100%
);
}


.body-left {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-left: 15px;
}

.body-left h2 {
    margin: 40px;
}

.body-left h4 {
    margin: 5px;
}

.body-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    cursor: pointer;
    width: 55%;
    
}

.body-buttons a {
    display: flex;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    margin: 0 25px;
    align-items: center;
    justify-content: center;
    background-color: #7D7CEC;
    color: white;
    text-decoration: none;
}

.body-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.body-text h1 {
    margin-bottom: 5vh;
}

.body-text h4 {
    font-size: 18px;
}