<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>StudentCentral</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="../static/edit-profile.css">
    </head>
    <body>
        <div class="main-container">
            <div class="header">
                <a href="home.html"><div class="left">
                    <h1>SC</h1>
                    <h4><span class="first-word">Student</span> <span class="second-word">Central</span></h4>
                </div></a>
                <div class="right">
                    <a href="contact.html">Contact Us</a>
                    <a href="profile.html">Profile</a>
                </div>
            </div>
            <div class="contact">
                <div class="contact-header">
                    <h2><span style="color: #7D7CEC;">Edit</span><span style="color: orange;">Profile</span></h2>
                </div>
                <div class="contact-form">
                    <div class="form">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email">
                        </div>
                        <div class="form-group">
                            <label for="bio">Bio</label>
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <label for="major">Major</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-button">
                        <a id="form-button" href="profile.html">Submit</a>
                    </div>
                </div>
            </div>
         </div>
    </body>
</html>