<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>StudentCentral</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="../static/events.css">
    </head>
    <body>
        <div class="main-container">
            <div class="header">
                <a href="home.html"><div class="left">
                    <h1>SC</h1>
                    <h4><span class="first-word">Student</span> <span class="second-word">Central</span></h4>
                </div></a>
                <div class="right">
                    <a href="contact.html">Contact Us</a>
                    <a href="profile.html">Profile</a>
                </div>
            </div>
            <div class="events-body">
                <div class="events-header">
                    <h3>Upcoming Events</h3>
                    <p>Explore upcoming events hosted by societies and the University.</p>
                </div>
                <div class="events-grid">
                    <div class="event">
                        <h4>Holiday Christmas Packing</h4>
                        <p>Hosted by: Student Union</p>
                        <p>When: December 1st, 2024 at 13:00</p>
                        <p>Where: Main Campus</p>
                        <br>
                        <p>A festive gathering where we'll come together to prepare special holiday packages for those in need, spreading warmth and cheer during this magical season.</p>
                    </div>
                    <div class="event">                        
                        <h4>Tech Talk</h4>
                        <p>Hosted by: Department of Computer Science</p>
                        <p>When: December 3rd, 2024 at 13:00</p>
                        <p>Where: JMB Auditorium</p>
                        <br>
                        <p>Explore the latest in tech trends. Engage with industry experts, attend workshops, and see cutting-edge demos showcasing the future of technology</p>
                    </div>
                    <div class="event">                        
                        <h4>FitFest Challenge</h4>
                        <p>Hosted by: Fitness and Welness Society</p>
                        <p>When: December 11th, 2024 at 4:00 PM</p>
                        <p>Where: Recreation Center</p>
                        <br>
                        <p>Join a fitness journey with challenges, wellness workshops, and group exercises. Whether you're a fitness enthusiast or just starting, there's something for everyone.</p>
                    </div>
                    <div class="event">                        
                        <h4>Book Club</h4>
                        <p>Hosted by: English Literature Department</p>
                        <p>When: January 6th, 2025 at 2:30 PM</p>
                        <p>Where: Library Auditorium</p>
                        <br>
                        <p>Delve into the world of literature. Engage in discussions with authors, attend book readings, and celebrate the written word with fellow book enthusiasts.</p>
                    </div>
                    <div class="event">                        
                        <h4>Artistry Unleashed Exhibition</h4>
                        <p>Hosted by: Arts Society</p>
                        <p>When: January 6th, 2025 at 5:00 PM</p>
                        <p>Where: Art Gallery</p>
                        <br>
                        <p>Immerse yourself in an evening of creativity. Explore diverse artworks from our talented students, attend art talks, and witness the unveiling of unique masterpieces.</p>
                    </div>
                    <div class="event"> 
                        <h4>Music in the Park Festival</h4>
                        <p>Hosted by: Music Society</p>
                        <p>When: January 12th, 2025 at 6:00 PM</p>
                        <p>Where: University Park</p>
                        <br>
                        <p>Bring your picnic blankets and enjoy a melodious evening. Featuring live performances from our talented student musicians, this festival is a celebration of harmony and rhythm.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>