<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>StudentCentral</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="../static/home.css">
    </head>
    <body>
        <div class="main-container">
            <div class="header">
                <a href="home.html"><div class="left">
                    <h1>SC</h1>
                    <h4><span class="first-word">Student</span> <span class="second-word">Central</span></h4>
                </div></a>
                <div class="right">
                    <a href="contact.html">Contact Us</a>
                    <a href="profile.html">Profile</a>
                </div>
            </div>
            <div class="search-area">
                <div class="search-buttons">
                    <a href="societies.html">Societies</a>
                    <a href="events.html">Events</a>
                    <a href="calendar.html">Calendar</a>
                </div>
            </div>
            <div class="body">
                <div class="body-left">
                    <div class="text-left">
                        <h3>Next Upcoming Event</h3>
                    </div>
                    <div class="event">
                        <h4>Holiday Christmas Packing</h4>
                        <p>Hosted by: Student Union</p>
                        <p>When: December 1st, 2024 at 13:00</p>
                        <p>Where: Main Campus</p>
                        <br>
                        <p>A festive gathering where we'll come together to prepare special holiday packages for those in need, spreading warmth and cheer during this magical season.</p>
                    </div>
                </div>
                <div class="body-right">
                    <div class="text-right">
                        <h3>Latest News From Campus</h3>
                    </div>
                    <div class="news">
                        <ul>
                            <li>
                                <h4>New Student Wellness Center Opens to Enhance Campus Support Services:</h4>
                                <p>Responding to the evolving needs of students, the university unveils a state-of-the-art Student Wellness Center, offering comprehensive mental health, counseling, and wellness services to support students in their personal and academic journeys.</p>
                            </li>
                            <br>
                            <li>
                                <h4>Diversity and Inclusion Week Promotes Unity on Campus:</h4>
                                <p>The university celebrates Diversity and Inclusion Week, featuring a series of events, workshops, and discussions aimed at fostering understanding, respect, and unity among students from diverse backgrounds.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>  
        </div>
        
    </body>
</html>