<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GETTING STARTED WITH BRACKETS</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="../static/register.css">
    </head>
    <body>
        <div class="main-container">
                    <div class="header">
                        <a href="index.html"><div class="left">
                            <h1>SC</h1>
                            <h4><span class="first-word">Student</span> <span class="second-word">Central</span></h4>
                        </div></a>
                    </div>
                    <div class="register">
                        <div class="register-header">
                            <h2>Log in to <span style="color: #7D7CEC;">Student</span><span style="color: orange;">Central</span></h2>
                        </div>
                        <div class="register-form">
                            <div class="form">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                      <input type="email" id="email" name="email" placeholder="E-mail">
                                      <span class="error-message" id="email-error" style="color: red; display: none;"></span>
                                </div>
                                <div class="form-group">
                                  <label for="password">Password</label>
                                  <input type="password" id="password" name="password" placeholder="Password">
                                  <span class="error-message" id="password-error" style="color: red; display: none;"></span>
                                </div>
                            </div>
                            <div class="form-button">
                                <a id="form-button" href="home.html">Log in</a>
                            </div>
                        </div>
                    </div>
        </div>
    </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var emailInput = document.getElementById('email');
    var passwordInput = document.getElementById('password');
    var button = document.getElementById('form-button');
    
    emailInput.addEventListener('input', function() {
      var emailError = document.getElementById('email-error');
      if (emailInput.value && !emailInput.value.includes('@')) {
        emailError.textContent = 'Please use correct email address.';
        emailError.style.display = 'block';
        button.style.backgroundColor ='grey';
        button.style.cursor="not-allowed";
      } else {
        emailError.style.display = 'none';
        button.style.backgroundColor ='#7D7CEC';
      }
    });
  });
</script>