<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>StudentCentral</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="../static/profile.css">
    </head>
    <body>
        <div class="main-container">
            <div class="header">
                <a href="home.html"><div class="left">
                    <h1>SC</h1>
                    <h4><span class="first-word">Student</span> <span class="second-word">Central</span></h4>
                </div></a>
                <div class="right">
                    <a href="contact.html">Contact Us</a>
                    <a href="profile.html">Profile</a>
                </div>
            </div>
            <h2><span style="color: #7D7CEC;">Student</span><span style="color: orange;">Profile</span></h2>
                <div class="profile-container">
                    <div class="profile-info">
                        <div class="info-group">
                            <label>Name:</label>
                            <div class="info-value">Amy White</div>
                        </div>
                        <div class="info-group">
                            <label>Email:</label>
                            <div class="info-value">amywhite@gmail.com</div>
                        </div>
                        <div class="info-group">
                            <label>Major:</label>
                            <div class="info-value">Computer Science</div>
                        </div>
                        <div class="info-group">
                            <label>Bio:</label>
                            <div class="info-value">Aspiring software developer with an interest in AI and machine learning.</div>
                        </div>
                        <div class="info-group">
                            <label>My societies:</label>
                            <div class="info-value">Coding Society, Math League</div>
                        </div>
                    </div>
                    <div class="form-button">
                        <a id="form-button" href="edit-profile.html">Edit Profile</a>
                    </div>
                </div>
        </div>