<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>StudentCentral</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="../static/societies.css">
    </head>
    <body>
        <div class="main-container">
            <div class="header">
                <a href="home.html"><div class="left">
                    <h1>SC</h1>
                    <h4><span class="first-word">Student</span> <span class="second-word">Central</span></h4>
                </div></a>
                <div class="right">
                    <a href="contact.html">Contact Us</a>
                    <a href="profile.html">Profile</a>
                </div>
            </div>
            <div class="societies-body">
                <div class="societies-header">
                    <h2>Societies</h2>
                    <p>Explore diverse student-led groups, from academic to cultural, and find your community.</p>
                    <p>Click on each society to learn more and sign up.</p>
                </div>
                <div class="societies-list">
                    <ul>
                        <li><a href="art.html">Art Society</a></li>
                        <li><a href="chess.html">Chess Society</a></li>
                        <li><a href="coding.html">Coding Society</a></li>
                        <li><a href="dance.html">Dance Society</a></li>
                        <li><a href="debate.html">Debate Society</a></li>
                        <li><a href="drama.html">Drama Society</a></li>
                        <li><a href="environmental.html">Environmental Society</a></li>
                        <li><a href="film.html">Film Society</a></li>
                        <li><a href="fitness.html">Fitness and Wellness Society</a></li>
                        <li><a href="literature.html">Literature Society</a></li>
                        <li><a href="math.html">Math Society</a></li>
                        <li><a href="music.html">Music Society</a></li>
                        <li><a href="photography.html">Photography Society</a></li>
                        <li><a href="robotics.html">Robotics Society</a></li>
                        <li><a href="science.html">Science Society</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>